<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.katkova-course.site/img/s5_1.png">
    <meta property="og:title" content="">
    <meta property="og:description" content="">

    <link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="js/jquery.arcticmodal-0.3.css" defer="">
    <link rel="stylesheet" href="js/themes/simple.css" defer="">
    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '735713261677442');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="tr?id=735713261677442&ev=PageView&noscript=1"></noscript>
    <!-- End Meta Pixel Code -->
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1775868379552727');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="tr-1?id=1775868379552727&ev=PageView&noscript=1"></noscript>
    <!-- End Meta Pixel Code -->
</head>

<body>
    <section class="s1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="items">
                        <div class="date">Старт <span class="date-block"></span></div>
                        <div class="course beg">Онлайн-курс</div>
                    </div>
                    <h1>Відкрий та навчись проявляти свою <span class="beg">сексуальність!</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h3>Сексуальність — це не про червону помаду та мереживну білизну. Сексуальність — це про вміння
                        проявляти себе та брати від світу максимум!</h3>
                    <p class="beg">Відкрий свою природну силу, пройшовши курс “Прихована сексуальність” від Ірини
                        Каткової </p>
                    <button class="openModal">отримати курс</button>
                </div>
            </div>
        </div>
        <img data-src="img/s1.png" class="lazyload img img1 desk">
        <img data-src="img/s1_mob.png" class="lazyload img2 mob">
        <img data-src="img/icon1.png" class="lazyload img img3 mob">
    </section>
    <div id="menu" class="default">
        <button class="openModal">отримати курс</button>
    </div>
    <section class="s2">
        <div class="container">
            <h2>Для кого <br class="mob">цей курс?</h2>
            <div class="items">
                <div class="item">
                    <img data-src="img/s2_1.png" class="lazyload">
                    <p>Для жінок, які живуть в батьківських кліше про "хорошу та пристойну" дівчинку</p>
                </div>
                <div class="item">
                    <img data-src="img/s2_2.png" class="lazyload">
                    <p>Для жінок, які хочуть отримувати насолоду від життя</p>
                </div>
                <div class="item">
                    <img data-src="img/s2_3.png" class="lazyload">
                    <p>Для жінок, які розуміють, що сексуальність — це ключова жіноча енергія та сила</p>
                </div>
                <div class="item">
                    <img data-src="img/s2_4.png" class="lazyload">
                    <p>Для жінок, які хочуть звільнитися від нав'язаних комплексів та внутрішніх бар'єрів</p>
                </div>
                <div class="item">
                    <img data-src="img/s2_5.png" class="lazyload">
                    <p>Для жінок, які хочуть стати по-справжньому сексуальними без червоної помади та мереживної
                        білизни.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="s3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2>Про автора</h2>
                    <p>Привіт, я Ірина Каткова.  Я досліджую сексуальність та жіночність вже 13 років. За фахом я
                        соціологиня, яка через призму психології, НЛП, розстановок, тілесно-орієнтованої терапії
                        відкрила для себе унікальний світ саморозвитку, де кожен може бути по-справжньому щасливим. Я
                        хочу поділитися з тобою своїми знаннями та дослідницьким досвідом у досягненні внутрішньої
                        гармонії й побудови дорослих стосунків із собою та зовнішнім світом.<br><br>Я знаю, що вільне
                        вираження однієї з найсильніших енергій призводить до гармонійного проживання життя. Тому
                        створила курс, що допомагає жінкам САМОСТІЙНО навчитися вивільняти власну енергію сексуальності,
                        проживати її й отримувати насолоду від своєї сутності. </p>
                    <button class="openModal desk">отримати курс</button>
                </div>
            </div>
        </div>
        <img data-src="img/s3.png" class="lazyload img">
        <button class="openModal mob">отримати курс</button>
    </section>
    <section class="s4">
        <div class="container">
            <h2>Програма курсу:</h2>
            <div class="items">
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 1</h3>
                    <p>• Енергія сексуальності: що це і як вона формується? <br>• Розуміння сексуальності як процесу, як
                        стану, самосприйняття<br>• Практика розбору жіночих та чоловічих енергій у тобі</p>
                </div>
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 2</h3>
                    <p>• Проявлення сексуальної енергії<br>• Чому не працюють панчохи та червона помада для проявлення
                        сексуальності?<br>• Розбираємося зі сприйняттям через призму батьківських поглядів <br>•
                        Відпускаємо чужі страхи: невеличка практика "Кулька"<br>• Ініціація в дівчинку - глибока
                        медитативна практика-зустріч із внутрішньою дівчинкою</p>
                </div>
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 3</h3>
                    <p>• Проявлення сексуальної енергії<br>• Секрет наповнення енергією через її вивільнення<br>• Розбір
                        причин блокування вільного проявлення сексуальної енергії<br>• Пошук власних каналів вивільнення
                        накопиченої енергії та інтеграція цих способів у життя<br>• Отримання глибинного дозволу на
                        проявлення та вираження самотності</p>
                </div>
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 4</h3>
                    <p>• Перехід із дівчинки в дівчину<br>• Історична і культурна глибина ініціації в дівчину<br>•
                        Магічна практика «Храм Богині. Ініціація в дівчину»</p>
                </div>
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 5</h3>
                    <p>• Знайомство з власним станом і його сприйняттям<br>• Маска емоцій на обличчі та тілі<br>•
                        Практика з пошуку та сприйняття власних станів<br>• Практичні поради з роботи над проявленими
                        станами</p>
                </div>
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 6</h3>
                    <p>• Перший сексуальний досвід та його наслідки<br>• Вивільнення підсвідомих упереджень щодо
                        сексу<br>• Практика по роботі з упередженнями</p>
                </div>
                <div class="item">
                    <h3 class="beg">ЛЕКЦІЯ 7</h3>
                    <p>Практика-подорож: через основні віхи становлення сексуальності та побудови позитивного сценарію
                        на майбутнє.</p>
                </div>
            </div>
        </div>
        <img data-src="img/icon2.png" class="lazyload img img1">
        <img data-src="img/icon3.png" class="lazyload img img2">
    </section>
    <section class="s5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h2>Як буде проходити навчання?</h2>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul>
                        <li>
                            <img data-src="img/s5_1.png" class="lazyload">
                            <p>Після оплати учасникам надається доступ до нашої навчальної платформи, де будуть
                                видаватися послідовні уроки. Всі уроки розроблені таким чином, щоб ти змогла
                                зосередитися на техніках, які допоможуть тобі швидше рухатися до бажаного результату.
                            </p>
                        </li>
                        <li>
                            <img data-src="img/s5_2.png" class="lazyload">
                            <p>Курс можна проходити в будь-який зручний час. Але для досягнення найкращих результатів ми
                                рекомендуємо проходити по одному уроку щодня, у тиші, щоб можна було зосередитися.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul>
                        <li>
                            <img data-src="img/s5_3.png" class="lazyload">
                            <p>Онлайн-курс триватиме 7 днів і починається відразу після оплати.</p>
                        </li>
                        <li>
                            <img data-src="img/s5_4.png" class="lazyload">
                            <p>Ви отримуєте доступ до закритої телеграм-групи, де зможете ставити запитання автору.</p>
                        </li>
                        <li>
                            <img data-src="img/s5_5.png" class="lazyload">
                            <p>Таким чином, доступ до програми у тебе буде назавжди, що дасть можливість проходити курс,
                                навіть якщо ти пропустиш якийсь із днів.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="s6">
        <div class="container">
            <h2>Що ти отримаєш,<br>пройшовши мій курс? </h2>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="item">
                        <img data-src="img/s6_1.png" class="lazyload">
                        <p>Ти згадаєш і знову відчуєш свою дівочу силу через прості психологічні та тілесні практики.
                            Курс - це перша ступінь перед тим, як йти в терапію. Від нього не можна психічно
                            травмуватися.</p>
                    </div>
                    <div class="item">
                        <img data-src="img/s6_2.png" class="lazyload">
                        <p>Так, ми чесно пройдемо травмуючі етапи дорослішання від дівчинки до зрілої жінки по всіх
                            рівнях формування сексуальності.</p>
                    </div>
                    <div class="item">
                        <img data-src="img/s6_3.png" class="lazyload">
                        <p>Ти дійсно проживеш свою жіночу силу до кінчиків пальців і розкриєш свою сексуальність та,
                            нарешті, викинеш з голови обмежуючі комплекси. </p>
                    </div>
                    <div class="item">
                        <img data-src="img/s6_4.png" class="lazyload">
                        <p>Сексуальність — це не про секс, це про твоє відчуття від контакту із зовнішнім світом, і ти
                            навчишся робити його безпечним. Це про твої дорослі стосунки із зовнішнім світом.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="item">
                        <img data-src="img/s6_5.png" class="lazyload">
                        <p>Від цього курсу тобі неодмінно стане тепло, бо внутрішня енергія почне в тобі горіти мʼяким,
                            але сильним полумʼям. </p>
                    </div>
                    <div class="item">
                        <img data-src="img/s6_6.png" class="lazyload">
                        <p>Проживемо ставлення матері та батька до твоєї сексуальності у дитинстві і юності, адже це те,
                            як ти тепер поводиш себе з чоловіками та собою. </p>
                    </div>
                    <div class="item">
                        <img data-src="img/s6_7.png" class="lazyload">
                        <p>Станеш вільно проявлятися, без остраху бути неприйнятою, осміяною або недоречною зі своїми
                            потребами. </p>
                    </div>
                    <button class="openModal">отримати курс</button>
                </div>
            </div>
        </div>
    </section>
    <section class="s7">
        <div class="content">
            <img data-src="img/guarantee.png" class="lazyload guarant">
            <h2>Зміни все!</h2>
            <p>Ти відчуваєш, що це саме той момент, коли потрібно щось змінити? Готова розкрити свою справжню
                сексуальність і стати тією жінкою, якою завжди мріяла бути?</p>
            <p class="price">всього лише <span>за 319&nbsp;грн</span> замість&nbsp;1190&nbsp;грн</p>
            <button class="openModal">ЦЕ ТВІЙ ШАНС!</button>
            <p class="beg">На 100% без ризику для тебе! 💥</p>
            <img data-src="img/icon3.png" class="lazyload img img1">
            <img data-src="img/icon4.png" class="lazyload img img2">
        </div>
    </section>
    <section class="s8">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2>відгуки</h2>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="gallery">
                        <div><img src="img/1.png"></div>
                        <div><img src="img/2.png"></div>
                        <div><img src="img/3.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s9">
        <div class="container">
            <div class="content">
                Я така впевнена в ефективності свого курсу, що готова зробити пропозицію, від якої неможливо
                відмовитися. Пройди мій курс. Поринь в кожну лекцію, практику і вправу. І якщо через 7 днів ти не
                відчуєш жодних змін у своєму житті, я поверну тобі кожну копійку. Без запитань.<br>Тож сміливо
                приєднуйся до мого курсу, бо ти нічого не втрачаєш, а тільки отримуєш!
            </div>
            <button class="openModal">отримати курс</button>
            <p>Якщо у тебе є сумніви, читай далі... 💥<br>Я розумію твої вагання. Адже навколо так багато обіцянок, які
                не виправдовуються. Але дозволь поставити тобі запитання: що, якщо цей курс - саме те, що ти так довго
                шукала?</p>
            <h3 class="beg">Що, якщо...</h3>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">

                    <div class="item">🌟 ...Ти знайдеш відповіді на запитання, які довго не давали тобі спокою!</div>
                    <div class="item">🌟 ...Ти відкриєш для себе силу і впевненість, яку давно втратила!</div>
                    <div class="item">🌟 ...Твоє життя перетвориться так, що ти й не мріяла про це!</div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p>Так, це може здатися занадто хорошим, щоб бути правдою. Але у мене для тебе новина: ти
                        заслуговуєш на це, і навіть більше!<br><br>Не дозволь своїм сумнівам забрати у тебе шанс на
                        перетворення. Попереду стільки відкриттів, які чекають саме на тебе.<br>🔥 Зроби крок до Себе
                        Нової. Сьогодні. 🔥</p>
                    <button class="openModal">отримати курс</button>
                </div>
            </div>
        </div>
    </section>
    <section class="s10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2>Запитання, які<br>ти ставиш собі </h2>
                    <p class="beg">(і мої відповіді на них)</p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="accordion">
                        <section class="accordion_item">
                            <h3 class="title_block">Цей курс дійсно для мене?</h3>
                            <div class="info">
                                <p>Так, якщо ти шукаєш шлях до глибокого розуміння своєї сексуальності і хочеш пройти
                                    шлях трансформації з досвідченим керівником. Якщо у твоїх думках ще є найменший
                                    сумнів, пам'ятай про нашу золоту гарантію!</p>
                            </div>
                        </section>
                        <section class="accordion_item">
                            <h3 class="title_block">Як довго мені доведеться чекати результатів?</h3>
                            <div class="info">
                                <p>Кожна жінка унікальна. Деякі починають відчувати зміни після першої лекції. Іншим
                                    може знадобитися більше часу. Головне - це твоє бажання і прихильність процесу!</p>
                            </div>
                        </section>
                        <section class="accordion_item">
                            <h3 class="title_block">Чи можна повернути гроші, якщокурс мені не підійде?</h3>
                            <div class="info">
                                <p>Абсолютно! У тебе є 14 днів, щоб вирішити, чи дійсно цей курс для тебе. Якщо вирішиш,
                                    що ні - ми повернемо гроші. Без зайвих запитань.</p>
                            </div>
                        </section>
                        <section class="accordion_item">
                            <h3 class="title_block">Я новачок у цій темі. Це нормально?</h3>
                            <div class="info">
                                <p>Так! Наш курс підійде як новачкам, так і тим, хто вже досліджував цю тему. Головне -
                                    твоя відкритість і готовність до вивчення!</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <p>ФОП Молоткова А. І.<br>ЄДРПОУ 3470312122</p>
                    <p><small>Всі права захищені. Будь-яке копіювання матеріалів дозволяється тільки з погодження
                            правовласників</small></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <p>+380976552978</p>
                    <p>tech.edsystem@gmail.com</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href="oferta/policy.html">Політика конфіденційності</a>
                    <a href="oferta/oferta.html">Публічна оферта</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p><small>IMPORTANT: Do not enter your name and email until you have read the Legal Disclaimer. We
                            are not able to make any guarantees and we will not make any guarantees about your ability
                            to generate results with our ideas, information, tools and resources, or strategies. You
                            should know that all products and services by our company are for educational and
                            informational purposes only. Nothing on this website, or any of our websites, or any of our
                            content or curriculum is a implication, promise, or guarantee of results. Use caution and
                            always consult your accountant, lawyer or professional adviser before acting on this or any
                            information related to a lifestyle change, your business and finances. You are responsible
                            for your decisions, actions and results. By registering on this website you agree not to
                            attempt to hold us liable for your decisions, actions or results, at any time, under any
                            circumstance.</small></p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p><small>ВАЖЛИВО: не вводьте свою контактну інформацію, доки не прочитаєте legal disclaimer. Ми не
                            даємо жодних гарантій, що ви досягнете якихось результатів за допомогою наших інструментів,
                            стратегій або інформації. Всі продукти і сервіси компанії призначені для освітніх цілей.
                            Жодна інформація на цьому сайті або будь-яких інших сайтах компанії не гарантує і не обіцяє
                            отримання результатів. Ви несете відповідальність за свої дії і результати. Реєструючись на
                            даному сайті, ви знімаєте з нас відповідальність за ваші дії та результати.</small></p>
                </div>
            </div>
        </div>
    </footer>


    <div style="display: none;">
        <div class="box-modal" id="modal1">
            <div class="box-modal_close arcticmodal-close">+</div>
            <div class="form">
                <p class="deskr">Заповніть форму та навчись проявляти свою сексуальність.</p>
                <p class="date">ДАТА СТАРТУ КУРСУ <span class="date-block blue"></span></p>
                <p class="price"><span>319 грн</span> замість 1190грн</p>
                <form class="mSoft-integration" accept-charset="utf-8" method="post">
                    <input type="hidden" name="payment" value="wayforpay">
                    <input type="hidden" name="currency" value="UAH">
                    <input type="text" name="email" class="t-input" placeholder="Ваш E-mail" required="true">
                    <input type="text" name="phone" value="" class="t-input" placeholder="Ваш телефон" required="true">
                    <input type="submit" class="t-submit bluebg" value="Отримати доступ">

                    <input type="hidden" name="amount" value="319">
                    <input type="hidden" name="product_pay" value="“Прихована сексуальність” від Ірини Каткової">
                    <input type="hidden" name="reqId" value="">
                    <input type="hidden" name="stage" value="1">
                    <input type="hidden" name="deal_name" value="KAT_SEX_319UAH_DENYS">
                    <input type="hidden" name="up_stage" value="6">
                    <input type="hidden" name="product" value="“Прихована сексуальність” від Ірини Каткової">
                    <input type="hidden" name="redirectUrl" value="https://www.katkova-course.site/thanks.php">
                </form>

                <p class="info"><img src="img/lock.png"> Всі дані конфіденційні и потрібні тільки для зв'язку з
                    менеджером</p>
                <h4><b>До закінчення акції залишилось:</b></h4>
                <div class="getting-started"></div>
                <p>P.S. Ви нічим не ризикуєте! Гарантія повернення коштів - 14 днів, якщо курс вам не підійде</p>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.arcticmodal-0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/lazysizes.min.js" async=""></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="js/common.js" async=""></script>

    <script>
        function sendPayForm(form) {
            event.preventDefault();
            if (!form) return;
            fbq('track', 'Lead');
            let inputs = form.elements;
            let formData = {};
            Array.prototype.forEach.call(inputs, function (input) {
                if (input.type === "radio") {
                    if (input.checked) formData[input.name] = input.value;
                } else if (input.value != "" && input.value != null && input.value != "null") {
                    formData[input.name] = input.value;
                }
            });
            let reqId = "";
            if ("reqId" in formData && formData.reqId != null && formData.reqId != "" && formData.reqId != undefined) {
                reqId = formData.reqId;
            }
            let xhr = new XMLHttpRequest();
            xhr.open("POST", `https://scripts.voskresensky.com/pipepanel2/forms.php?reqId=${reqId}`);
            xhr.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let result = JSON.parse(this.responseText);
                    console.log("API запрос", result);
                    if ("paymentUrl" in result) {
                        location.href = result.paymentUrl;
                    } else if ("redirect" in formData) {
                        location.href = formData.redirect;
                    } else {
                        document.getElementsByClassName("form-n-loader")[0].classList.add("hidden");
                    }
                }
            };
            document.getElementsByClassName("form-n-loader")[0].classList.remove("hidden");
            xhr.send(JSON.stringify(formData));
        }
        if (document.readyState !== "loading") {
            subscribeSendForms();
        } else {
            document.addEventListener("DOMContentLoaded", subscribeSendForms);
        }
        function subscribeSendForms() {
            var forms = document.getElementsByClassName("mSoft-integration");
            Array.prototype.forEach.call(forms, function (form) {
                form.addEventListener("submit", function () {
                    event.preventDefault();
                    sendPayForm(form);
                });
            });
            var lse = document.createElement("link");
            lse.setAttribute("rel", "stylesheet");
            lse.setAttribute("href", "https://scripts.voskresensky.com/pipepanel/loader.css");
            document.head.appendChild(lse);
            var lde = document.createElement("div");
            lde.className = "form-n-loader hidden";
            lde.innerHTML = "<div></div>";
            document.body.appendChild(lde);
        }
    </script>
    <script>
        const getUrlParam = function (param) {
            if (!param) return;
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const paramValue = urlParams.get(param);
            return paramValue;
        };
        var hidDivForm = document.createElement("div");
        hidDivForm.setAttribute("style", "display:none");
        hidDivForm.innerHTML = `<input type="hidden" name="utm_term" value="${getUrlParam("utm_term")}">
      <input type="hidden" name="utm_content" value="${getUrlParam("utm_content")}">
      <input type="hidden" name="utm_medium" value="${getUrlParam("utm_medium")}">
      <input type="hidden" name="utm_campaign" value="${getUrlParam("utm_campaign")}">
      <input type="hidden" name="utm_source" value="${getUrlParam("utm_source")}">`;
        var divForms = document.getElementsByTagName("form");
        for (var i = 0; i < divForms.length; i++) {
            divForms[i].appendChild(hidDivForm.cloneNode(true));
        }
    </script>
</body>

</html>